* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 宋体;
    background-image: url('images/back.gif');
    background-repeat: repeat;
    line-height: 1.6;
    color: #333;
}

.container {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: rgb(212, 2, 209);
    font-size: 36px;
    margin-bottom: 20px;
}

.underline {
    margin: auto;
    width: 600px;
    border-bottom: 6px solid rgb(159, 155, 155);
}

.navigation {
    font-size: 18px;
    text-align: center;
    margin: 20px 0;
}

.navigation a {
    color: #0000ff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

.navigation a:hover {
    text-decoration: underline;
}

.section {
    margin: 10px;
    padding: 10px;
}

.section h2 {
    color: rgb(212, 2, 209);
    font-size: 24px;
    margin-bottom: 15px;
    text-align: left;
}

.section h2 a {
    color: rgb(10, 75, 255);
    font-size: 16px;
    text-decoration: none;
}

.section h2 a:hover {
    color: rgb(242, 55, 55);
}

.section p {
    text-indent: 2em;
    font-size: 16px;
    line-height: 1.8;
}

.contact {
    text-align: center;
    margin-top: 20px;
}

.contact a {
    color: #0000ff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.contact a:hover {
    text-decoration: underline;
}