.back {
    height: 100vh;
    background-color: rgb(142, 255, 255);
    overflow: hidden;
}

.title {
    text-align: center;
    color: red;
    margin: 50px 0px;
    font-family: 楷体;
}

.underline {
    width: 60%;
    border-bottom: 3px solid rgb(132, 132, 132);
}

.navigation {
    font-family: 宋体;
    font-size: 20px;
    color: blue;
    text-align: center;
    margin: 50px 0px;
}

h2 {
    font-weight: normal;
}

.poetName {
    text-align: center;
    font-size: 24px;

}

.author {
    text-align: center;
    font-size: 24px;
}

.text {
    text-align: center;
    font-size: 20px;
    margin-left: 15px;
}

.tail{
    text-align: right;
    font-size: 24px;
}